[submodule "assets"]
	path = assets
	url = https://github.com/i-Things/iThings-admin-react.git
[submodule "module/core"]
	path = module/core
	url = git@codeup.aliyun.com:642f7dca8b47795dae985084/core/core.git
