HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/service/main/**/target/
!**/service/test/**/target/
/deploy/data/*
/docker/run-debug/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/service/apisvr/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
go.sum

##
/cmd/*
service/apisvr/apisvr*
service/dcsvr/dcsvr*
service/ddsvr/ddsvr*
service/dmsvr/dmsvr*
service/vidsvr/vidsvr*
service/vidsvr/vidsvr
service/vidsip/vidsip*
service/vidsvr/vidsvr/etc/api.yaml
service/vidsvr/vidsvr/api.go
service/apisvr/go_build*
service/usersvr/usersvr*
/service/disvr/disvr.exe
/service/syssvr/syssvr.exe
/service/vidsvr/vidsvr.exe
/service/apisvr/dist/

*.exe
### MacOS ###
.DS_Store
/service/apisvr/logs/
/pack/*

.history
/service/timedqueuesvr/job/job
/service/timedqueuesvr/scheduler/scheduler
/service/timedjobsvr/job
/service/apisvr/apisvr
/service/udsvr/internal/domain/scene.zip
